/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global
{
	chromeColor: #294867;
	color: #CCCCCC;
	/*contentBackgroundColor: #39628C;
	symbolColor: #000000;
	rollOverColor: #355D89;
	selectionColor: #294867;
	focusColor: #333300;
	accentColor: #6589AD;*/
	
}


s|DataGrid{
	skinClass:ClassReference("assets.skins.GridTemaSkin")
}


s|TitleWindow
{
	borderAlpha: 1;
	borderColor: #323232;
	cornerRadius: 9;
	dropShadowVisible: true;
	backgroundColor: #ffffff;
	color: #000000;
	
	
	
}

s|TitleWindow s|Button{
	color:#000000;	
	/*skinClass:ClassReference("assets.skins.ButtonSendLVSkin");*/
}

s|TitleWindow s|ComboBox{
	borderColor: #333333;
	skinClass:ClassReference("spark.skins.spark.ComboBoxSkin")
}

s|ComboBox{
	skinClass:ClassReference("assets.skins.ComboBoxLVNoEditSkin");
	chromeColor: #ffffff;
	color: #333333;
}

s|BorderContainer{
	backgroundColor: #313D47;
	borderColor: #CCCCCC;
	
}

s|Button{
	skinClass:ClassReference("assets.skins.ButtonCustomSkin"/*assets.skins.OCbtnLimpiar"*/);
	color:#FFFFFF;	
	fontWeight:bold;
	
	
}



